In [198]:
import pandas as pd
import plotly.plotly as py
import math
import re

In [251]:
df = pd.read_csv('data/chipotle_df.csv')

In [252]:
df['Date'] = pd.to_datetime(df.Date)
df['address'] = df_piv['address'].apply(lambda x: re.sub('\(\d{5}\).*,', '', x))

In [255]:
len(df)

76

In [288]:
df_piv = df.groupby(['store_no','lat','lon','state']).agg({'Amount':['sum','count','mean']}).reset_index()

In [282]:
df_piv

                                             address store_no    lat     lon  \

0                      0043 - Westbank- Austin 78746      114  39.96 -105.14
1                0054 - 6th & Broadway- Denver 80203      894  40.02 -105.25
2                  0056 - 45th & Lamar- Austin 78756      894  40.02 -105.25
3                0114 - Louisville- Louisville 80027      894  40.02 -105.25
4          0436 - Grand Central- New York 10017-4068      894  40.02 -105.25
5           0437 - Director Building- Portland 97204      894  40.02 -105.25
6      0839 - 525 Market Street- San Francisco 94105     1702  37.77 -122.41
7             0894 - 29th Street- Boulder 80301-1013     1702  37.77 -122.41
8                  1102 - Daly City- Daly City 94015     1702  37.77 -122.41
9            1145 - London Square Relo- Aurora 80247     1460  37.77 -122.41
10               1174 - San Carlos- San Carlos 94070     1702  37.77 -122.41
11                         1187 - Colma- Colma 94014      839  37.78 -122.39
12          1230 - Union Square- San Francisco 94102      894  40.02 -105.25
13                 1265 - Palo Alto- Palo Alto 94306     1145  39.69 -104.88
14               1460 - Metreon- San Francisco 94103     1702  37.77 -122.41
15       1611 - El Monte Center- Mountain View 94040     1702  37.77 -122.41
16           1617 - Stanford Center- Palo Alto 94304     1702  37.77 -122.41
17       1637 - Lakeshore Plaza- San Francisco 94132     1702  37.77 -122.41
18  1702 - San Francisco Centre- San Francisco 94103     1702  37.77 -122.41
19           1738 - Oakland Lakeshore- Oakland 94610     1702  37.77 -122.41
20   2080 - Stonestown Galleria- San Francisco 94132     1702  37.77 -122.41
21          2341 - 553 Boylston Street- Boston 02116     1702  37.77 -122.41
22        2345 - Miracle Mile Shops- Las Vegas 89109     1702  37.77 -122.41

   state Amount
            sum count   mean
0     CO  10.59     1  10.59
1     CO  18.26     1  18.26
2     CO  12.86     1  12.86
3     CO   5.45     1   5.45
4     CO  10.79     1  10.79
5     CO  10.30     1  10.30
6     CA  15.29     1  15.29
7     CA  11.22     1  11.22
8     CA  12.13     1  12.13
9     CA  12.00     1  12.00
10    CA  10.04     1  10.04
11    CA  14.35     1  14.35
12    CO  10.63     1  10.63
13    CO   9.99     1   9.99
14    CA   9.52     1   9.52
15    CA   9.52     1   9.52
16    CA   9.52     1   9.52
17    CA  12.13     1  12.13
18    CA  10.93     1  10.93
19    CA  10.93     1  10.93
20    CA  12.13     1  12.13
21    CA  11.26     1  11.26
22    CA   9.52     1   9.52

In [284]:
df[df['store_no']==894]

,Unnamed: 0,Date,Description,Original Description,Amount,Transaction Type,Account Name,store_no,store_no.1,zip_code,address,lat,lon,city,state
1,1,2018-02-28,Chipotle,CHIPOTLE 0894,10.63,debit,CREDIT CARD,894,894,80301,1230 - Union Square- San Francisco 94102,40.02,-105.25,BOULDER,CO
2,2,2018-02-15,Chipotle,CHIPOTLE 0894,18.26,debit,CREDIT CARD,894,894,80301,0054 - 6th & Broadway- Denver 80203,40.02,-105.25,BOULDER,CO
3,3,2018-01-25,Chipotle,CHIPOTLE 0894,12.86,debit,CREDIT CARD,894,894,80301,0056 - 45th & Lamar- Austin 78756,40.02,-105.25,BOULDER,CO
4,4,2018-01-25,Chipotle,CHIPOTLE 0894,5.45,debit,CREDIT CARD,894,894,80301,0114 - Louisville- Louisville 80027,40.02,-105.25,BOULDER,CO
5,5,2018-01-07,Chipotle,CHIPOTLE 0894,10.79,debit,CREDIT CARD,894,894,80301,0436 - Grand Central- New York 10017-4068,40.02,-105.25,BOULDER,CO
10,10,2016-12-25,Chipotle,CHIPOTLE 0894,10.30,debit,CREDIT CARD,894,894,80301,0437 - Director Building- Portland 97204,40.02,-105.25,BOULDER,CO

In [276]:
df_piv.text = '\n'.join(df[['address', 'Amount'['sum']]])

TypeError: string indices must be integers

In [291]:
import plotly.plotly as py
from plotly.graph_objs import *

scale = .5

data = Data([
    dict(type = 'scattergeo',
        locationmode = 'USA-states',
        lon = df_piv['lon'],
        lat = df_piv['lat'],
        text = '',
        marker = dict(
            size = (df_piv['Amount']['sum'])/scale,
            color = df_piv['Amount']['mean'],
            colorscale = 'Greens',
            line = dict(width=0.5, color='rgb(40,40,40)'),
            sizemode = 'area'
        ),
        )
])


layout = dict(
        title = 'blah',
        showlegend = False,
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showland = True,
            landcolor = 'rgb(217, 217, 217)',
            subunitwidth=1,
            countrywidth=1,
            subunitcolor="rgb(255, 255, 255)",
            countrycolor="rgb(255, 255, 255)"
        ),
    )


fig = dict(data=data, layout=layout)
py.iplot(fig, filename='Montreal Mapbox')

In [220]:
df_piv

   store_no                                            address    lat    long  \

0        43  0043 - Westbank-(00043) - 3300 Bee Cave Road, ...  30.26  -97.74
1        54  0054 - 6th & Broadway-(00054) - 550 Broadway, ...  39.76 -104.87
2        56  0056 - 45th & Lamar-(00056) - 4400 N. Lamar Bl...  30.26  -97.74
3       436  0436 - Grand Central-(00436) - 150 E 44th St, ...  40.71  -73.99
4       437  0437 - Director Building-(00437) - 240 SW Yamh...  45.51 -122.67
5       839  0839 - 525 Market Street-(00839) - 525 Market ...  37.78 -122.39
6       894  0894 - 29th Street-(00894) - 1650 28th St, Ste...  40.02 -105.25
7      1102  1102 - Daly City-(01102) - 213 Westlake Center...  37.67 -122.47
8      1145  1145 - London Square Relo-(01145) - 2300 S Par...  39.69 -104.88
9      1174  1174 - San Carlos-(01174) - 1135 Industrial Ro...  37.49 -122.26
10     1187  1187 - Colma-(01187) - 990 Serramonte Blvd, Su...  37.68 -122.43
11     1230  1230 - Union Square-(01230) - 232 O'Farrell St...  37.77 -122.41
12     1265  1265 - Palo Alto-(01265) - 2675 El Camino Real...  37.41 -122.13
13     1460  1460 - Metreon-(01460) - 121 4th St #135, San ...  37.77 -122.41
14     1611  1611 - El Monte Center-(01611) - 1039 A El Mon...  37.38 -122.08
15     1617  1617 - Stanford Center-(01617) - 180 El Camino...  37.37 -122.18
16     1637  1637 - Lakeshore Plaza-(01637) - 1523 Sloat Bl...  37.72 -122.48
17     1702  1702 - San Francisco Centre-(01702) - 865 Mark...  37.77 -122.41
18     1738  1738 - Oakland Lakeshore-(01738) - 3271 Lakesh...  37.81 -122.24
19     2080  2080 - Stonestown Galleria-(02080) - 3251 20th...  37.72 -122.48
20     2341  2341 - 553 Boylston Street-(02341) - 553 Boyls...  42.35  -71.06
21     2345  2345 - Miracle Mile Shops-(02345) - 3663 Las V...  36.11 -115.12

    Amount            store_no  \
       sum       mean    count
0    18.03   9.015000        2
1     7.78   7.780000        1
2     7.20   7.200000        1
3    11.00  11.000000        1
4    12.00  12.000000        1
5    27.18  13.590000        2
6    68.29  11.381667        6
7    11.61  11.610000        1
8     9.99   9.990000        1
9    18.38   9.190000        2
10  109.15   9.922727       11
11    7.56   7.560000        1
12   43.95   8.790000        5
13   29.08   9.693333        3
14   16.32   8.160000        2
15   10.17  10.170000        1
16   61.81  10.301667        6
17  205.64  11.424444       18
18   12.26  12.260000        1
19   33.32  11.106667        3
20   13.00  13.000000        1
21   13.09  13.090000        1

                                                text

0                      0043 - Westbank- Austin 78746
1                0054 - 6th & Broadway- Denver 80203
2                  0056 - 45th & Lamar- Austin 78756
3          0436 - Grand Central- New York 10017-4068
4           0437 - Director Building- Portland 97204
5      0839 - 525 Market Street- San Francisco 94105
6             0894 - 29th Street- Boulder 80301-1013
7                  1102 - Daly City- Daly City 94015
8            1145 - London Square Relo- Aurora 80247
9                1174 - San Carlos- San Carlos 94070
10                         1187 - Colma- Colma 94014
11          1230 - Union Square- San Francisco 94102
12                 1265 - Palo Alto- Palo Alto 94306
13               1460 - Metreon- San Francisco 94103
14       1611 - El Monte Center- Mountain View 94040
15           1617 - Stanford Center- Palo Alto 94304
16       1637 - Lakeshore Plaza- San Francisco 94132
17  1702 - San Francisco Centre- San Francisco 94103
18           1738 - Oakland Lakeshore- Oakland 94610
19   2080 - Stonestown Galleria- San Francisco 94132
20          2341 - 553 Boylston Street- Boston 02116
21        2345 - Miracle Mile Shops- Las Vegas 89109

In [217]:
df_piv['text'] = df_piv['address'].apply(lambda x: re.sub('\(\d{5}\).*,', '', x))

In [222]:
text = df_piv.apply(lambda x: x['text'] + '\nVisits:%i\nAvgSpend:%i\nTotalSpend:%i'%(x['store_no']['count'], 
                                                                                    x['Amount']['mean'],
                                                                                    x['Amount']['sum']))

KeyError: ('text', 'occurred at index (store_no, )')

In [225]:
text = df_piv.apply(lambda x: x['text'].capitalize, )

KeyError: ('text', 'occurred at index (store_no, )')